.navigation {
    background-color: rgb(47, 47, 47);
}

.navigation ul {
    list-style: none;
    display: flex;
    padding: .2rem;
    gap: 10px;
}

.navigation ul li {
    color: aliceblue;
    cursor: pointer;
    font-size: smaller;
}

.navigation ul li:hover {
    background-color: #7f7f7fa5;
   
}

.search {
    display: flex;
    gap: 5px;
    justify-content: center;
    padding-right: 5px;
}

.search svg:active {
   cursor: pointer;
 }
 

.search svg:active {
   filter: invert(30%);
}

.url-bar {
    background-color: rgba(255, 255, 255, 0.232);
    width: 70%;
    color: aliceblue;
}

.search-bar {
    width: 25%;
}

