.resume-card {
  position: absolute;
  top: 40%;
  left: 35%;
  width: min(60%, 400px);
  text-align: center;
}

.resume-card p {
  padding: 1rem;
}

.content {
    display: flex;
    justify-content: center;
}
.content i {
    position: relative;
    top: 18px;
    right: 10px;
}

.action {
  padding: 1rem;
}

.action button {
  background-color: #b6b6b6;
  border: none;
  padding: .2rem;
}

.action button:active {
  background-color: #a0a0a0a5;
}
