.icon {
  left: 1%;
}

.icon::after {
  content: "Projects";
}

.project-card {
  position: absolute;
  top: 5%;
  left: 25%;
  width: min(60%, 800px);
  height: auto;

}

.content {
  display: flex;
  width: 100%;
  height: 600px;
}

.card_left,
.card_right {
  height: 100%;
}

.card_left {
  width: 20%;
  position: relative;
  background-color: #2e2e2ec5;
}



.card_left ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 2rem;
}

.card_left ul li {
  font-size: small;
  padding-left: 1rem;
  padding-bottom: .2rem ;
  cursor: pointer;
}

.card_left ul li:hover {
  background-color: #7f7f7fa5;
}

.active {
  background-color: #7f7f7fa5;
}

.card_right {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
  text-align: center;
  overflow-y: auto;

}
